.upload-zone.svelte-1uha8ag{border:2px dashed var(--fern-green);border-radius:8px;padding:2rem;text-align:center;background-color:#fdfdfd;transition:all .2s}.upload-zone.svelte-1uha8ag:hover{background-color:#ecf5e9;border-style:solid}
